
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: 'Georgia', cursive;

}
canvas {
	cursor: crosshair;
    
}
#info {
	font-size: 30px;
	position: absolute;
	right:0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #a79e17;
	text-align:center;
	height:40px;
}
.nextpage{
	position:fixed;
	bottom:0;
	z-index:100;
	text-align:center;
	width:100%;
}
.nextpage a{
	color:#c03430;
}
audio{
	display:none;
}
.music{
	position:absolute;
	width:30px;
	height:30px;
	top:10px;
	right:10px;
	background-image:url('../img/music.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;

}
.reload{
	position:absolute;
	width:30px;
	height:30px;
	top:10px;
	left:10px;
	background-image:url('../img/reload.jpeg');
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}
.on{
	animation:music 2s linear infinite ;
	-webkit-animation:music 2s linear infinite ;
}
.banner{
	position: absolute;
	opacity: 0;
	z-index: -1000;
}
@-webkit-keyframes music{
	100%{
		transform:rotate(360deg);
		-webkit-transition:rotate(360deg);
	}
}
@keyframes music{
	100%{
		transform:rotate(360deg);
		-webkit-transition:rotate(360deg);
	}
}
