*{
	padding:0;
	margin:0;
}
html,body{
	background:#000;
	width:100%;
	height:100%;
	/*overflow: hidden;*/
}
.rotating{
	position:absolute;
	left:0;
	top:0;
	max-width:70vw;
	right:0;
	bottom:0;
	margin:auto;
	animation: rotating 120s linear infinite;
	-webkit-animation: rotating 120s linear infinite;
	overflow:hidden;
}
@keyframes rotating{
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotating{
	100%{
		-webkit-transform: rotate(360deg);
	}
}
