@charset "utf-8";
/******************* reset.css*******************/
/* reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}
html,
body {
  min-height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #496b84;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:visited {
  color: #496b84;
}
em,
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
body {
  background: #f1f1f0;
  padding-bottom: 38px;
  width:100%;
}


/*******mod-bottom-nav**********/
.mod-bottom-nav {
  position: fixed;
  width: 100%;
  height: 3em;
  left: 0;
  bottom: 0;
  background: #f7f7f7;
  box-shadow:0 0 1px #999;
}
.mod-bottom-nav a {
  color: #999;
}
.mod-bottom-nav a:active{
	opacity:0.5;
}
.mod-bottom-nav .on a {
  color: #f95e02;
}

.mod-bottom-nav ul {
  display: -webkit-box;
  display: flex;
}
.mod-bottom-nav ul li {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 3em;
}
.mod-bottom-nav ul li a {
  display: block;
  text-align: center;
  width: 100%;
  padding:0.1em 0;
 
}
.mod-bottom-nav .ico-nav{
	position:relative;
	display:block;
	width:1.4em;
	height:1.4em;
	margin:0.2em auto 0 auto;	
	background-repeat:no-repeat;
	background-size:contain;
	
}
.square{
	background-image:url(../images/square_02.png);
}
.on .square{
	background-image:url(../images/square_01.png);
}
.search{
	background-image:url(../images/search_02.png);
}
.on  .search{
	background-image:url(../images/search_01.png);
}
.user{
	background-image:url(../images/user_02.png);
}
.on  .user{
	background-image:url(../images/user_01.png);
}
.mod-bottom-nav p{
	position:relative;
	display:block;
	top:-1.3em;
	font-size: 0.7em;
}

/********mod_choose_school********/
.b-wihte{
	background-color:#fff;
}
.choose_school{
	width:100%;
	height:100%;
}
.choose_school .ico-school{
	padding:3em 0;
}
.choose_school select{
	width:86%;
	line-height:3em;
	font-size:1em;
	margin:0 7%;
	border-radius:0.4em;
	background-image:url(../images/down1.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:2em;
	background-color:#fff;
	border:none;
	color:#999;
    -webkit-appearance:none;
	appearance:none;
    -moz-appearance:none;
}
.choose_school select:focus, .choose_school select option:focus{
	outline:none;
}
.choose_school select option{
	line-height:3em;
	outline:none;
	background:#fff;
	border:none;
	
}
.choose_school select option:hover { 
   background-color: #f80; 
   color: #fff;
   border:none; 
   outline:none;
}
.choose_school select option:focus { 
   background-color: #f80; 
   color: #fff; 
} 
 
.choose_school .ico-school img{
	display:block;
	margin:0 auto;
	width:23%;
}

.choose_school .bt-ok{
	height:3em;
	width:86%;
	margin:2em 7%;
	background:#f38800;
	text-align:center;
	border-radius:0.4em;	
}
.choose_school .bt-ok a{
	color:#fff;
	font-size:1em;	
	line-height:3em;
	display:block;
	width:100%;
}
.choose_school .bt-ok a:active{
	border-radius:0.4em;
	background:#dd7c00;
}


/********mod-banner*******/
.mod-banner {
  overflow: hidden;
  position: relative;
}
.mod-banner.no-margin {
  margin-bottom: 0;
}
.mod-banner .mod-slidshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  height: 0;
}
.mod-banner .mod-slidshow.club {
  padding-bottom: 39%;
}
.mod-banner .swiper-container-android .swiper-slide {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -o-transform:translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mod-banner .mod-slidshow > ul {
  display: -webkit-box;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: content-box;
  transform-style: preserve-3d;
}
.mod-banner .mod-slidshow li {
  display: -webkit-box;
  display: flex;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.mod-banner .mod-slidshow img {
  display: block;
  width: 100%;
  height: 100%;
}
.mod-banner .mod-slidshow li a {
  display: block;
  height: 100%;
  width: 100%;
}
.mod-banner .mod-indicator {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 5px;
  text-align:center;
  z-index: 2;
}
.mod-banner .mod-indicator span {
  position: relative;
  display: inline-block;
  width: 1.4vw;
  height: 1.4vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.7%;
  z-index: 2;
  background:#fff;
}
.mod-banner .mod-indicator span.swiper-pagination-bullet-active {
  border: none;
  background: #ff8162;
}


/***********mod-index********/
.mod-index .hot-club {
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 1em;
  background: #fff;
}
.mod-index .hot-club h2 {
  font-weight: normal;
  font-size:0.85em;
  color:#fff;
  line-height:1.3;
  padding-left:0.3em;
}
.mod-index .hot-club .hot-title{
	width:4.5em;
	line-height:1.5;
	background-image:url(../images/4.png);
	background-repeat:no-repeat;
	background-size:contain;
	margin-bottom:0.5em;
}

#slider-club, #slider-club_fans{
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 5.5em;
}

#slider-club ul, #slider-club_fans ul {
  display: -webkit-box;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  transform-style: preserve-3d;
  height:6em;
 
}
#slider-club ul li, #slider-club_fans ul li {
 
  display: -webkit-box;
  display: flex;
  position: relative;
  float: left;
  overflow: hidden;
  flex-shrink: 0;
  height:5.5em;
  
}
#slider-club ul li a, #slider-club_fans ul li a {
  color: #000000;
  margin:0 auto;
  text-align:center;
  height:5.5em;
  /*width:100%;*/
}
#slider-club ul li a:active{
	 /*background-color:#ddd;*/
	 opacity:0.5;
}
#slider-club_fans ul li a:active{
	 /*background-color:#ddd;*/
	 opacity:0.5;
}

#slider-club ul li a .type, #slider-club_fans ul li a .type {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: 4px;
  vertical-align: bottom;
  display: inline-block;
  color: #fff;
  background: #ffc925;
  padding: 3px 8px;
  -webkit-border-radius: 10px;
}
#slider-club ul li .thumb {
  
}
#slider-club ul li .txt, #slider-club_fans ul li .txt {
  line-height: 1.5;
  overflow: hidden;
  font-size:0.8em;
}
#slider-club ul li img, #slider-club_fans ul li img {
  width: 4em;
  height:4em;
}
/*.span-white{
	position:absolute;
	height:6em;
	width:2.7em;
	background-color:#fff;
	opacity:0.85;
	z-index:3;	
}*/
/*****mod-act-list******/
.mod-act-list{
	margin-bottom:0.6em;	
}

.mod-act-list .item {
  padding: 1em 0.5em;
  background-color: #fff;
  border-bottom:1px solid #eee;
 
}
.mod-act-list .item .thumb {
  display: block; 
  position: relative;
  height: 0;
  padding-bottom: 7.6em;
}
.mod-act-list .item .thumb:active{
	opacity:0.5;
}

.thumb .body{
	float:left;
	margin-right:7em;	
}

.thumb .body .tip{	
	width:2em;
	height:1.2em;
	border-radius:0.32em;
	text-align:center;
	
}
.thumb .body .tip p{
	width:2.85em;
	line-height:1.78em;
	height:1.78em;
	position:absolute;
	display:block;
	text-align:center;
	/*padding-top:0.3em;
	padding-left:0.4em;*/
	font-size:0.7em;
	
}
.thumb .body h3{
	font-size:1em;	
    line-height: 1.3;
	margin:0.6em 0 0.6em 0;
	min-height:2.4em;
}
.thumb .body .info{
	margin-top:0.9em;
	line-height: 1.4;
	color:#999;
	font-size:0.8em;
}
.thumb .body .info .host-p{
	min-height:1.4em;
}
.on-time .host-p {
	color:#f95e02;
}

.thumb .piture{
	width:6em;
	height:auto;
	position:absolute;
	/*margin: 2% 0 2% 2%  ;*/
	right:0;
}

.thumb .body .tip{	
	color:#666;
	border:1px solid #ddd;
	
}
.out-time h3{
	color:#666;
}
.on-time h3{
	color: #000;
}
.thumb .piture img{	
	width:5.5em;
	height:5.5em;
	display:block;
	margin:0.5em auto 0.4em auto;
}
.thumb .piture .list-image{	
	width:5.5em;
	height:5.5em;
	display:block;
	margin:0.5em auto 0.46em auto;
	/*background-image:url(../img/index_banner.png);*
	/*background-repeat:no-repeat;*/
	background-position:50% 50%;
	background-size:cover;
}

.thumb .piture p{
	text-align:center;
	color:#999;
	font-size:0.7em;
}
.thumb .piture p span{
	color:#999;
	margin-left:0.5em;	
}
.on-time .thumb .piture p,.on-time .thumb .piture p span{
	color:#2b8bdc;
}


/*****mod-detail******/
.mod-detail {
  background: #eee;
  min-height: 380px; 
}
.mod-poster img{
	width:100%;
	height:auto;
}
.mod-detail .head{
	background:#fff;
	padding:0 0.5em 0.5em 0.5em;
}

.mod-detail .body{
	padding:0.1em 0.5em 0.5em 0.5em;
	background:#fff;
	margin-top:1em;
	
}
.mod-detail .body img{
	max-width:94%;
	height:auto;
	display:block;
	margin:0 auto;
	margin-bottom:1em;
}
.mod-detail .body  p{
	text-indent:2em;
	margin-bottom:1em;
	margin-top:1em;
	font-size:0.9em;
	line-height:1.5;
	color:#333;
}
.mod-detail .head {
  position: relative;
  color: #666;
  line-height: 1.5; 
}

.mod-detail .head h1 {
  font-size: 1.2em;
  color: #f95e02;
  line-height: 1.5;
  padding-top:0.5em;
}
.mod-detail .head .join-number {
  font-size: 0.85em;
  line-height: 1.3;
  color:#999;
}
.mod-detail .head .line-gray{
	top:0;
	margin:0.5em 0;
}
.info  {
	font-size:0.9em;
	color:#999;
	text-align:left;
	table-layout:fixed;
	width:100%;	
}
.info th{
	font-weight:normal;
}
.info .left-th{
	width:5.5em;	
	color:#333;
}
.info  th span::before{
	content:"";
	width:0.9em;
	height:0.9em;
	background-image:url(../images/3_03.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	margin-right:0.5em;
	position:relative;
	bottom:-0.05em;
}
.info .time-span span,.info .location-span span{
	word-spacing:0.2em;
}
.info .time-span span::before{	
	background-image:url(../images/3_03.png);	
}
.info .location-span span::before{
	background-image:url(../images/3_05.png);
}
.info .host-span span::before{
	background-image:url(../images/3_07.png);
}
.time-tip a::before{
	content:"";
	width:1em;
	height:1em;
	background-image:url(../images/3_10.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	margin-right:0.4em;
	position:relative;
	top:0.1em;		
}
.time-tip a{
	font-size:0.75em;
	color:#4e7da9;
}
.mod-bottom-nav table{
	table-layout:fixed;
	width:100%;
}
.mod-bottom-nav th{
	line-height:3em;
	overflow:hidden;
	word-break:break-all; 
	width:50%;
	padding:0 0.5em;
	font-weight:normal;
}
.mod-bottom-nav .bt-jonin  a{
	display:block;
	line-height:2em;
	margin:0 1em 0 0.5em;
	font-size:1em;
}
.on-time .bt-jonin  a {
	background-color:#f95e02;
	color:#fff;
}
.on-time .bt-jonin  a:active{
	background-color:#dd7c00;
}
.out-time .bt-jonin  a {
	background-color:#999;
	color:#fff;
}

.success-time .bt-jonin  a {
	background-color:#fff;
	color:#f95e02;
	border:#f95e02 1px solid;
}
.enlish-time .bt-jonin  a {
	/*background-color:#fff;*/
	color:#4e7da9;
	border:#4e7da9 1px solid;
}

/****mod_club_search***/
.input-search{
	width:96%;
	height:1.5em;
	padding:0.5em 2%;
}
.input-search .ico-nav{
	width:1em;
	height:1em;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;	
	top:0.7em;
	opacity:0.7;	
}
.input-search .search{
	left:1em;
}
.input-search .search-clear{
	background-image:url(../images/1-10.png);
	right:1.4em;	
	padding:0.3em;
	top:0.45em;
	background-origin:content-box;
	/*display:inline;*/
	display:none;
}
.input-search input{
	border:none;
	height:1.5em;
	color:#888888;
	width:100%;
	border-radius:1em;
	padding-left:2.5em;
	padding-right:2.5em;
	outline:none;
	font-size:0.9em;	
}
.input-search input::-webkit-input-placeholder {
	text-align:center;
}
.input-search input::-moz-placeholder{
	text-align:center;
}
.input-search input::-ms-input-placeholder {
	text-align:center;
}
.input-search input::-webkit-input-clear{ display:none;}

.input-search input::-webkit-search-cancel-button {
   -webkit-appearance: none; 
}






.club-list{
	width:94%;
	padding-left:3%;
	padding-right:3%;
	background:#fff;
	padding-top:0.2em;
	margin-bottom:0.8em;
}
.club-list ul{
	display:inline-block;
	width:100%;
	
}
.club-list ul li{
	width:33.333333%;
	float:left;
	margin-bottom:1em;
}
.club-list .club-item{
	text-align:center;
	display:block;
}
.club-list .club-item:active{
	opacity:0.5;
}
.club-list .club-item img{
	width:4.5em;
	height:4.5em;
	display:block;
	position:relative;
	margin:0 auto;
}
.club-list .club-item p{
	position:relative;
	width:100%;
	margin:0 auto;
	color:#333;
	line-height:2;
	font-size:0.8em;
}
.club-list .user-title{
	margin-left:0;
	margin-bottom:0.5em;
}

/******mod-user*******/
.mod-user{
	margin-bottom:1em;
}
.mod-user .user-banner{
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 8em;
  height: 0;
  background:#496b84;
  background-image:url(../img/user-banner-4.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  color:#fff;	
}

.user-banner .user-profile{
	width:7.5em;
	height:8em;
	position:relative;
	float:left;
}
.user-banner .user-profile img{
	display:block;
	background-color:#fff;
	width:5em;
	height:5em;
	position:relative;
	border:0.18em solid #fff;
	margin:1.32em auto;
}
.user-banner .user-info{
	margin:1em 1em 1em 0;
	padding-top:0.5em;
	position:relative;
	float:left;
	max-width:11em;
}
.user-banner .user-info .user-name{
	font-size:1.1em;
	line-height:1.5;
	/*color:#f95e02;*/
}
.user-banner .user-info .user-school{	
	font-size:0.8em;
	margin-top:1em;
	line-height:1.5;
	/*color:#f38800;*/
}
.user-banner .user-edit{
	/*background:#fff;*/
	
	
	height:1.8em;
	width:1.8em;
	border-radius:50%;
	position:absolute;
	margin-left:88%;
	margin-top:1.55em;
}
.user-banner .user-edit a{
	background-image:url(../images/edit1.png);
	background-repeat:no-repeat;
	background-size:1.5em 1.5em;
	background-position:center;
	display:block;
	height:1.8em;
	width:1.8em;
}
.user-banner .user-edit a:active{
	opacity:0.5;
}
.user-title{
	height:1.5em;
	margin-left:0.5em;
	margin-top:0.5em;
}
.user-title img{
	height:1em;
	width:auto;
	position:relative;
	float:left;
}
.user-title p{
	position:relative;
	float:left;
	color:#999;
	margin-left:0.5em;
}
.line-gray{
	height:1px;
	width:100%;
	background-color:#eee;
	position:relative;
	top:1.5em;
}
.hot-club .user-title{
	margin-bottom:1em;
}


/******mod_timeline*********/
#timeline{
	padding-left:1em;
	background:#fff;
	min-height:45vh;
}
#timeline .mod-act-list{
	padding-left:0.4em;
	border-left:1px solid #CCC;
}
#timeline .user-title{
	position:relative;
	left:-0.5em;
	top:0.5em;
	padding-top:0.5em;
	margin-left:0;
}
#timeline .user-title img{
	background-color:#fff;	
}
#timeline .tip::before{
	position:absolute;
	content:"";
	height:0.8em;
	width:0.8em;
	background:url(../images/3_09.png) no-repeat;
	background-size:contain;
	left:-1.35em;
	top:0.15em;
}


/******mod_club_detail********/
.moder-club{
	margin-bottom:0;
}
.mod-club-detail{
	padding:1em 0.5em 0 0.5em;
	background:#fff;
}
.user-banner .bt-join{
	width:4em;
	line-height:2em;
	/*height:1.6em;*/
	position:absolute;
	display:block;
	background-color:#f38800;
	border-radius:0.3em;
	right:0.5em;
	bottom:1.3em;
	text-align:center;
}
.user-banner .bt-join a{
	display:block;
	font-size:0.8em;
	color:#fff;	
	line-height:2em;
	height:2em;
	/*margin:0 auto;*/
	width:100%;
	text-align:center;
	border-radius:0.3em;
}
.user-banner .bt-join a:active{
	background-color:#dd7c00;
}
.user-banner .come-join,.user-banner .come-join a{
	/*background-color:#f38800;*/
	color:#fff;
}
.user-banner .enlish-join{
	background-color:#fff;
	color:#f38800;
	/*border:#f38800 1px solid;*/
}
.user-banner .enlish-join a{	
	color:#f38800;
}

.user-banner .already-join{
	background-color:#fff;
	
	/*border:#999 1px solid;*/
}
.user-banner .already-join a{
	color:#999;
}


.intro-club{	
	color:#333;
	background:#fff;
	font-size:0.9em;
	width:100%;
	border-collapse:collapse;
}
.line{
	height:1px;
	background:#eee;	
}
.intro-club .tip{
	width:3em;
	line-height:1.6;
	color:#999;
}
.intro-club .president td{
	vertical-align:middle;	
}
.intro-club .president td a{
	display:block;
	width:100%;
	line-height:3.5em;
	color:#333;
}
/*.intro-club .president td a::before{
	content:"";
	height:1em;
	width:1em;
	font-size:1.1em;
	background-image:url(../images/07_03.png);
	background-repeat:no-repeat;
	background-size:contain;
	position:absolute;
	right:1em;
	top:15.5em;
}*/

}
.intro-club td p{
	line-height:1.5;
}
.intro-club img{
	width:2em;
	
}
.intro-club .president td a .profile-more{
	color:#f38800;
	position:absolute;
	font-size:0.85em;
	right:0;
	padding-right:1em; 
	height:1em;
	width:1em;
	padding-top:1.5em;
	
}
.intro-more{
	/*text-align:right;
	font-size:0.85em;
	padding-right:1em;*/
	padding-bottom:2em;
}
.intro-more a{
	color:#f38800;
	position:absolute;
	font-size:0.85em;
	right:0;
	padding-right:1em;
	padding-top:0.8em;
	padding-bottom0.8em;
	

}

/********club-detail-more*********/
.club-detail-more{
	margin:0 1em;
}
.club-detail-tip{
	width:5em;
	height:2.7em;
	background-image:url(../images/08%E7%A4%BE%E5%9B%A2%E4%BB%8B%E7%BB%8D_03.png);
	background-repeat:no-repeat;
	background-size:contain;
	text-align:center;
}
.club-detail-more  h3{
	text-align:center;
	font-size:1.2em;
	margin: 1em;
	color:#ff8800;
}
.club-detail-more  h4{
	text-align:center;
	font-size:0.8em;
	color:#999;
}
.club-detail-tip p{	
	color:#fff;
	font-size:0.9em;
	line-height:1.5;	
}
.club-detail-text img{
	max-width:90%;
	height:auto;
	display:block;	
	margin:1em auto;
}
.club-detail-text p{
	font-size:1em;
	line-height:1.5;
	text-indent:2em;
	margin:1em auto;
	color:#333;
}
 
/*mod-alert*/
.mod-alert {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.2);  
  display: none;
}
.mod-alert.on {
  display: block;
  overflow:scroll;
}
.mod-alert .inner {
  position: relative;
  top: 30vh;
  margin: 0 auto;
  width: 280px;
  min-height: 140px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
  color: #535353;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  border-radius:5px;
  /*overflow:scroll;*/
}
#edit_fans_info_id .inner {
  top: 3vh;
}
.mod-alert .none{
	padding-bottom:8em;
}
.mod-alert .inner .input-group{
	text-align:left;
	padding:1em 0;
}
.mod-alert .inner .input-group .input-span{
	background:#eeeeee;
	margin:1em;
	line-height:38px;
	border-radius:0.4em;
}
.input-span input{
	background-color:transparent;
	border:none;
	box-sizing:border-box;
	color:#999999;
	line-height:2em;
	font-size:0.9em;
}
.input-span select{
	width:auto;
	font-size:1em;
	border:none;
	background-color:transparent;
	color:#999999;
	right:1em;
	line-height:2.5em;
	-webkit-appearance:none;
	appearance:none;
    -moz-appearance:none;
	-o-appearance:none;
}
.Sclass select{
	width:auto;
	
	
}
.input-span select option{
	padding:0;
	outline:none;
	border:none;
	line-height:2.5em;
	font-weight:normal;
	font-size:1em;
}
.input-span input:focus{
	outline:none;
}
.input-span span{
	margin:0 0 0 0.4em;
}

.bt-in{
	margin:1em;
	line-height:2.5em;
	border-radius:0.4em;
	background:#f38800;
	color:#ffffff;
	text-align:center;
}
.bt-in a{
	border-radius:0.4em;	
	color:#fff;
}
.bt-in a:active{
	display:block;
	width:100%;
	height:100%;	
	background-color:#dd7c00;
}

.title-group p{
	line-height:3em;
}
.title-group span{
	line-height:3em;
	position:absolute;
	top:0;
	right:1em;
}
.inner .title-group::before{
	content:"";
	width:92%;
	height:1px;
	background-color:#eeeeee;
	position:absolute;
	top:3em;
	left:4%;
}
.inner .active-in::before{
	 top:5em;
	
}
.inner .active-in p{
	line-height:5em;
}

.captcha {
	/*width:62%;*/
}
.captcha .captcha-get{
	width:6em;
	display:inline-block;
	font-size:1em;
	background-color:#f38000;
	color:#fff;
	line-height:38px;
	border-radius:0 0.4em 0.4em 0 ;
	float:right;
	text-align:center;
}
.captcha .timedCount{
	background-color:#bbb;

}

.captcha input{
	width:6em;
}
/*.captcha-get{
	position:absolute;
	right:1em;
	top:12.2em;
	background-color:#f38800;
	line-height:2.5em;
	border-radius:0.4em;
	padding:0 0.2em;
	
}*/
.login .captcha-get{
	top:8.6em;
}
.captcha-get a{
	color:#FFF;
	display:block;
	height:100%;
	font-size:0.7em;
	border-radius:0 0.4em 0.4em 0 ;	
}

.registry .inner{
	top:3em;
}
.profile .inner{
	top:4em;
}
/*.profile .input-span select{
	top:13.5em;
}
.registry .input-span select{
	top:21.5em;
}*/
/*.captcha .input-span input{
	position:absolute;
	float:right;
	line-height:2em;
	width:60%;
}
.captcha{
	display:-webkit-box;
}
#captcha {
	position:relative;
	float:right;
	line-height:2.5em;
	width:24%;
	margin:1em 0.3em 1em 0;
	
	/*left:-1.3em;*/
/*}

#captcha .bt-in{
	
	
}
#captcha a{
	display:block;
	height:100%;
	font-size:0.7em;
	
}*/
.mod-alert .inner .btn-group {
  position: relative;
  text-align: center;
}

.mod-alert .inner .btn-group .bt-in{
	position:absolute;
	width:30%;
	
}
.mod-alert .inner .btn-group .ok{
	right:1em;
}

.mod-alert .inner .btn-group .no{
	left:1em;
	background:none;
}
.mod-alert .inner .btn-group .no a{
	color:#496b84;
}


.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.dropload-refresh,.dropload-update,.dropload-load{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.dropload-down .dropload-refresh,.dropload-down .dropload-update,.dropload-down .dropload-load{
    top: 0;
    bottom: auto;
	font-size:1em;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
 .opacity{
        -webkit-animation: opacity 1.5s linear;
        animation: opacity 1.5s linear;
    }
@-webkit-keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
}
@keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
}
.item-no{
	text-align:center;
	color:#999;
	font-size:0.8em;
}
.reload_data_index {
	display:block;
	width:100%;
	text-align:center;
	line-height:3.5em;
	color:#f95e02;
}
.thumb .body h3 {
	text-align:left;
}