@charset "utf-8";
/* CSS Document */

#captcha i{
	display:inline-block;
	width:30px; 
	height:30px; 
	text-align: center; 
	line-height: 30px;
	margin-left:5px; 
	/*background:#ddd;*/ 
	color:#000;
	/*font-size:1px;*/ 
	vertical-align: middle;
	font-weight: bold;
	border:1px solid #eee;
}
#inputcaptcha{
	position:absolute;
	transform:translate(0, 1.2em);
	
}
#captcha i.ifocus{
	border-radius:4px;
	box-shadow:0 0 10px #f38800;
	border:none;
	background-image:url(../images/T1nYJhXalXXXXXXXXX.gif);
	background-repeat:no-repeat;
	background-position: center center;
}
#captcha i.false{
	border:none;
	box-shadow:0 0 10px #fa3f43;
}