@charset "utf-8";
/* CSS Document */
.club-detail-more{
	margin:0 1em;
}
.club-detail-tip{
	width:5em;
	height:2.7em;
	background-image:url(../images/08%E7%A4%BE%E5%9B%A2%E4%BB%8B%E7%BB%8D_03.png);
	background-repeat:no-repeat;
	background-size:contain;
	text-align:center;
}
.club-detail-more  h3{
	text-align:center;
	font-size:1.2em;
	margin: 1em;
	color:#ff8800;
}
.club-detail-more  h4{
	text-align:center;
	font-size:0.8em;
	color:#999;
}
.club-detail-tip p{
	
	color:#fff;
	font-size:0.9em;
	line-height:1.5;
	
}
.club-detail-text img{
	max-width:90%;
	height:auto;
	display:block;	
	margin:1em auto;
}
.club-detail-text p{
	font-size:1em;
	line-height:1.5;
	text-indent:2em;
	margin:1em auto;
	color:#333;
}