@charset "utf-8";
/* CSS Document */
.b-wihte{
	background-color:#fff;
}
.choose_school{
	width:100%;
	height:100%;
	background-color:#fff;	
}
.choose_school .ico-school{
	padding:3em 0;
}
.choose_school select{
	width:86%;
	line-height:3em;
	font-size:1em;
	margin:0 7%;
	border-radius:0.4em;
	background-image:url(../images/down1.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:2em;
	background-color:#eeeeee;
	border:none;
	color:#999;
    -webkit-appearance:none;
	appearance:none;
    -moz-appearance:none;
}
.choose_school select:focus, .choose_school select option:focus{
	outline:none;
}
.choose_school select option{
	line-height:3em;
	outline:none;
	background:#fff;
	border:none;
	
}
.choose_school select option:hover { 
   background-color: #f80; 
   color: #fff;
   border:none; 
   outline:none;
}
.choose_school select option:focus { 
   background-color: #f80; 
   color: #fff; 
} 
 

.choose_school .ico-school img{
	display:block;
	margin:0 auto;
	width:23%;
}

.choose_school .bt-ok{
	height:3em;
	width:86%;
	margin:2em 7%;
	background:#f38800;
	text-align:center;
	border-radius:0.4em;
	
}
.choose_school .bt-ok a{
	color:#fff;
	font-size:1em;
	
	line-height:3em;
	display:block;
	width:100%;
}
