@charset "utf-8";
/* CSS Document */
.act-enlist h3{
	text-align:center;
	font-size:1.1em;
	margin:1em auto;
}
.act-enlist .act-name{
	font-size:1em;
	color:#f38800;
	text-indent:2em;
	line-height:1.5;
	margin:0.5em 0.5em 1em 0.5em;
	padding-bottom:0.5em;
	border-bottom:#dddddd solid 1px;	
}
.act-enlist .p-list{
	font-size:1em;
	color:#666;
	margin:0.5em;
}
.act-enlist ul{
	font-size:0.75em;
	color:#999;
	height:2.4em;
	line-height:2.4em;
	padding-left:0.5em;
	padding-right:0.5em;
	
}
.act-enlist ul li{
	/*width:25%;*/
	float:left;
}
.act-enlist ul li::after{
	content:"|";
	display:inline-block;
	margin:0 0.1em ;
	color:#ddd;
}
.act-enlist ul .li-noline{
	
	}
.act-enlist ul .li-noline::after{
	display:none;
	}
.act-enlist-list{
	background-color:#eee;
	margin:0 0.5em 0.5em 0.5em;
	padding:0.5em;
	font-size:1em;
}
.act-enlist-list table{
	width:100%;
	min-height:10em;
}
.act-enlist-list table tr{
	line-height:1.8;
	text-align:center;
}
.act-enlist-list table .peding{
	color:#f95e02;
	
}
.act-enlist-list table .refuse{
	color:#008ffe;
	
}

.mod-bottom-nav{
	position:fixed;
	width:100%;
	height:3em;
	left:0;
	bottom:0;
	background-color:#f7f7f7;
	box-shadow:0 0 1px #999;
	
}
.mod-bottom-nav label{
	display:inline-block;
	margin:0.5em 1em auto 0;
	margin:1em 1em auto 1em;
	font-size:0.8em;
	
}
input[type=checkbox]{
	background-color:#fff;
	border:#dddddd solid 1px;
	
}
.mod-bottom-nav .bt-in{
	line-height:2.5em;
	margin:0.5em 1em auto 0;
	width:6em;
	display:inline-block;
	font-size:0.8em;
	border:#dddddd solid 1px;
	float:right;
}
.mod-bottom-nav .bt-in a{
	letter-spacing:0.5em;
	text-indent: 0.5em;
    text-algn:center;
}
.mod-bottom-nav .no{
	background-color:#fff;
}
.mod-bottom-nav .no a{
	color:#666;
}
