.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(38, 145, 201);
    overflow: hidden;
    z-index: 0;
}

.sheep {
    width: 154px;
    height: 117px;
    background-image: url('sheep-ani.png');
    background-position: 0 0;
    position: absolute;
    right: 0;
    bottom: 50px;
    background-repeat: no-repeat;
    cursor: -webkit-grabbing;
    z-index: 100;
}

.tip {
    position: absolute;
    color: #fff;
    top: 100px;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    z-index: 50;
    left: 50%;
    margin-left: -200px;
    -webkit-animation: bounceInDown 1s;
    -moz-animation: bounceInDown 1s;
    -ms-animation: bounceInDown 1s;
    -o-animation: bounceInDown 1s;
    animation: bounceInDown 1s;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
